@import "_variables.scss";
@import "_mixins.scss";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  @include border-box;
}
img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper,
.row {
  @extend %clearfix;
}

[class*="column-"] {
  float: left;
  padding: 1em;
  width: 20%;
  min-height: 1px;
  margin: 10px 1%;
}

.tt {
  padding: 0;
  > .column-4 {
    margin: 0;
    width: 33.3334%;
    height: 100%;
  }
}

@include colors (#39aff2);

// .opensans {
//   @include font(sans-serif, 50px);
// }
//
// .breeserif {
//   @include font(fantasy, 50px);
// }
// @media #{$breakpoint-medium} {
//   .wrapper {
//         width: 100%;
//         max-width: $grid-max-width;
//         }
//
//   @for $i from 1 through 12 {
//     .column-#{$i} {
//       width: 100% * ($i/12);
//     }
//   }
//
// }
